@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@font-face {
  font-family: CalSans;
  font-display: swap;
  src: url("../fonts/CalSans-SemiBold.woff2") format("woff2"), url("../fonts/CalSans-SemiBold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
}

a, a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*==============*/
html,
body {
  height: 100%;
  font-size: 16px;
  color: #666666;
  font-family: "Poppins";
}

/*=============*/
/*===============================*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  position: relative;
}
.wrapper.active::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.35);
}

[class*=__container] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  padding: 62px 0;
  /* .header__container */
}
@media (max-width: 767px) {
  .header {
    padding: 40px 0;
  }
}
@media (max-width: 480px) {
  .header {
    padding: 25px 0;
  }
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 131px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1150px) {
  .header__container {
    gap: 90px;
  }
}
@media (max-width: 980px) {
  .header__container {
    gap: 70px;
  }
}
@media (max-width: 767px) {
  .header__container {
    gap: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 767px) {
  .header__menu {
    position: fixed;
    left: -100%;
    top: 80px;
    width: 100%;
    background-color: #18191F;
    padding: 30px 0 30px 16px;
    overflow: auto;
    -webkit-transition: 0.3s ease 0s;
    transition: 0.3s ease 0s;
  }
}
@media (max-width: 767px) {
  .header__menu.active {
    left: 0;
  }
}
.header__burger {
  display: none;
}
@media (max-width: 767px) {
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20px;
            flex: 0 0 20px;
    height: 18px;
    position: relative;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.header__burger span {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: block;
  height: 2px;
  width: 100%;
  background-color: #000;
}
.header__burger::before, .header__burger::after {
  display: block;
  position: absolute;
  content: "";
  left: 0;
  background-color: #000;
  height: 2px;
  width: 100%;
  -webkit-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}
.header__burger::before {
  bottom: 0;
}
.header__burger.active span {
  display: none;
}
.header__burger.active::before {
  top: 50%;
  -webkit-transform: rotate(-39deg);
          transform: rotate(-39deg);
}
.header__burger.active::after {
  top: 50%;
  -webkit-transform: rotate(42deg);
          transform: rotate(42deg);
}

.menu {
  /* .menu__list */
  /* .menu__link */
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 56px;
}
@media (max-width: 980px) {
  .menu__list {
    gap: 40px;
  }
}
@media (max-width: 767px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.menu__link {
  font-weight: 500;
  line-height: 24px;
  color: rgba(18, 18, 18, 0.4);
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}
.menu__link:hover {
  color: #121212;
}
@media (max-width: 767px) {
  .menu__link {
    color: #FF6428;
  }
}

/*============*/
.page {
  /* .page__start */
}
.start {
  /* .start__container */
  /* .start__content */
  /* .start__title */
  /* .start__text */
  /* .start__buttons */
  /* .start__button */
  /* .start__download */
  /* .start__image */
}
.start__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 80px;
}
.start__content {
  padding-top: 120px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-bottom: 60px;
  margin-right: 20px;
}
@media (max-width: 1092px) {
  .start__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
  }
}
@media (max-width: 767px) {
  .start__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}
.start__title {
  margin-bottom: 16px;
  font-size: 56px;
}
@media (max-width: 480px) {
  .start__title {
    font-size: 46px;
    margin-bottom: 10px;
  }
}
.start__text {
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 33px;
}
.start__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.start__button {
  padding: 18px 48px;
  background-color: #FF6428;
  color: #fff;
  font-weight: 600;
  line-height: 24px;
  border-radius: 40px;
  margin-right: 40px;
  text-align: center;
}
.start__button:hover {
  background-color: #ff885c;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}
.start__download:not(:last-child) {
  margin-right: 28px;
}
.start__image {
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: inline-block;
  margin-right: -135px;
  position: relative;
}
@media (max-width: 1092px) {
  .start__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
  }
}
@media (max-width: 767px) {
  .start__image {
    display: none;
  }
}
.start__image::after {
  content: url("../img/start/after.svg");
  position: absolute;
  bottom: 0;
  right: 36.3%;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
}
.start__image img {
  max-width: 672px;
}
@media (max-width: 1092px) {
  .start__image img {
    max-width: 100%;
  }
}

.block-text {
  /* .block-text__title */
}
.block-text__title {
  font-weight: 600;
  line-height: 119%;
  color: #121212;
  font-family: CalSans;
}
.block-text__title span {
  color: #FF6428;
}

/*=====STORE====*/
.page {
  /* .page__store */
}
.page__store {
  padding-top: 80px;
}
@media (max-width: 1092px) {
  .page__store {
    padding-top: 30px;
  }
}

.store {
  /* .store__container */
  /* .store__title */
  /* .store__content */
}
.store__title {
  font-size: 44px;
  text-align: center;
  margin-bottom: 86px;
}
@media (max-width: 1024px) {
  .store__title {
    margin-bottom: 60px;
  }
}
@media (max-width: 820px) {
  .store__title {
    font-size: 38px;
  }
}
.store__content:not(:last-child) {
  margin-bottom: 86px;
}
@media (max-width: 1024px) {
  .store__content:not(:last-child) {
    margin-bottom: 60px;
  }
}

.block-text {
  /* .block-text__title */
}
.content-store {
  /* .content-store__bar */
  /* .content-store__title */
  /* .content-store__all */
  /* .content-store__row */
  /* .content-store__item */
  /* .content-store__image */
  /* .content-store__name */
  /* .content-store__price */
}
.content-store__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 32px;
}
@media (max-width: 1024px) {
  .content-store__bar {
    margin-bottom: 15px;
  }
}
.content-store__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #121212;
  letter-spacing: 0.08em;
}
@media (max-width: 420px) {
  .content-store__title {
    font-size: 16px;
  }
}
.content-store__all {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #868686;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}
@media (max-width: 420px) {
  .content-store__all {
    font-size: 16px;
  }
}
.content-store__all:hover {
  color: #3a3a3a;
}
.content-store__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 54px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1024px) {
  .content-store__row {
    gap: 20px;
  }
}
@media (max-width: 767px) {
  .content-store__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.content-store__item {
  display: block;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}
.content-store__item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.content-store__item:hover .content-store__name {
  text-decoration: underline;
}
@media (max-width: 767px) {
  .content-store__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}
.content-store__image {
  position: relative;
  background: url("../img/lazy/loading'.gif") center/50px no-repeat;
}
.content-store__image img {
  max-width: 100%;
}
.content-store__name {
  font-weight: 500;
  line-height: 24px;
  color: #121212;
}
.content-store__price {
  padding-top: 7px;
  line-height: 21px;
  color: #666666;
}

/*=======CATEGORIES=======*/
.page {
  /* .page__categories */
}
.page__categories {
  padding-top: 180px;
}

.categories {
  /* .categories__container */
  /* .categories__title */
  /* .categories__body */
  /* .categories__item */
}
.categories__title {
  font-size: 44px;
  text-align: center;
  margin-bottom: 80px;
}
.categories__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1024px) {
  .categories__body {
    gap: 40px;
  }
}
@media (max-width: 820px) {
  .categories__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.categories__column {
  max-width: 220px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  position: relative;
}
@media (max-width: 820px) {
  .categories__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
}
.categories__column::before {
  position: absolute;
  bottom: 10%;
  left: 50%;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.categories__column:nth-child(1):before {
  content: "Acoustic";
}
.categories__column:nth-child(2):before {
  content: "Electric";
}
.categories__column:nth-child(3):before {
  content: "Basses";
}
.categories__column:nth-child(4):before {
  content: "Collections";
}
.categories__item {
  display: block;
}
@media (max-width: 820px) {
  .categories__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
  }
}
.categories__item img {
  max-width: 100%;
}

.block-text {
  /* .block-text__title */
}
/*========BRANDS=======*/
.page {
  /* .page__brands */
}
.page__brands {
  padding: 220px 89px 180px 89px;
}

.brands {
  /* .brands__container */
  /* .brands__title */
  /* .brands__companies */
  /* .brands__item */
}
.brands__title {
  text-align: center;
  font-size: 44px;
  margin-bottom: 75px;
}
.brands__companies {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 20px auto 20px auto 20px auto;
  grid-template-columns: repeat(4, auto);
  row-gap: 80px;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 992px) {
  .brands__companies {
    -ms-grid-columns: (auto)[3];
    grid-template-columns: repeat(3, auto);
  }
}
@media (max-width: 767px) {
  .brands__companies {
    -ms-grid-columns: (auto)[2];
    grid-template-columns: repeat(2, auto);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.brands__item img {
  max-width: 100%;
}

.block-text {
  /* .block-text__title */
}
/*=======WHY============*/
.page {
  /* .page__why */
}
.page__why {
  background-color: #121212;
  padding: 93px 0;
}
@media (max-width: 767px) {
  .page__why {
    padding: 70px 0;
  }
}

.why {
  /* .why__container */
  /* .why__title */
  /* .why__body */
  /* .why__column */
}
.why__title {
  font-size: 44px;
  color: #fff;
  text-align: center;
  margin-bottom: 95px;
}
@media (max-width: 767px) {
  .why__title {
    margin-bottom: 65px;
  }
}
.why__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 220px;
}
@media (max-width: 920px) {
  .why__body {
    gap: 130px;
  }
}
@media (max-width: 767px) {
  .why__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 80px;
  }
}
.why__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}
@media (max-width: 767px) {
  .why__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.column-why {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  /* .column-why__icon */
  /* .column-why__title */
  /* .column-why__text */
}
.column-why > * {
  text-align: center;
}
.column-why__icon {
  margin-bottom: 62px;
  position: relative;
  height: 100%;
}
@media (max-width: 420px) {
  .column-why__icon {
    margin-bottom: 50px;
  }
}
.column-why__icon img {
  position: relative;
  z-index: 5;
}
.column-why__icon::before {
  display: block;
  content: "";
  position: absolute;
  bottom: calc(-50% - 5px);
  left: calc(-50% - 5px);
  background-color: #262626;
  width: 72px;
  height: 72px;
  border-radius: 20px;
  z-index: 1;
}
.column-why__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 12px;
}
.column-why__text {
  line-height: 21px;
  text-transform: capitalize;
  font-size: 14px;
  max-width: 230px;
}

/*=======CUSTOMER===========*/
.page {
  /* .page__customer */
}
.page__customer {
  padding: 240px 0;
}
@media (max-width: 767px) {
  .page__customer {
    padding: 100px 0;
  }
}

.customer {
  /* .customer__container */
  /* .customer__title */
  /* .customer__body */
  /* .customer__image */
  /* .customer__content */
}
.customer__title {
  font-size: 44px;
  margin-bottom: 109px;
  text-align: center;
}
@media (max-width: 767px) {
  .customer__title {
    margin-bottom: 60px;
  }
}
.customer__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 120px 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 120px;
}
@media (max-width: 992px) {
  .customer__body {
    gap: 70px;
  }
}
@media (max-width: 767px) {
  .customer__body {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto 1fr;
    grid-template-rows: auto 1fr;
  }
  .customer__body > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .customer__body > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
}
@media (max-width: 767px) {
  .customer__image {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}
.customer__image img {
  width: 100%;
}
.content-customer {
  /* .content-customer__text */
  /* .content-customer__name */
  /* .content-customer__profession */
  /* .content-customer__buttons */
}
.content-customer > * {
  font-size: 24px;
  line-height: 160%;
}
@media (max-width: 420px) {
  .content-customer > * {
    font-size: 18px;
  }
}
.content-customer__text {
  margin-bottom: 56px;
}
.content-customer__name {
  font-weight: 600;
  color: #000;
  margin-bottom: 8px;
}
.content-customer__profession {
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  /* identical to box height, or 29px */
  letter-spacing: 0.08em;
  color: #868686;
}
@media (max-width: 420px) {
  .content-customer__profession {
    font-size: 14px;
  }
}
.content-customer__buttons {
  width: 12px;
  height: 24px;
  background: #FF6428;
  border-radius: 20px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

/*======FAVORITE======*/
.page {
  /* .page__favorite */
}
.page__favorite {
  padding: 0 0 60px 0;
}

.favorite {
  /* .favorite__container */
  /* .favorite__content */
  /* .favorite__title */
  /* .favorite__download */
  /* .favorite__image */
}
.favorite__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767px) {
  .favorite__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 90px;
  }
}
@media (min-width: 992px) {
  .favorite__container > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
.favorite__content {
  padding-top: 116px;
}
@media (max-width: 992px) {
  .favorite__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 45%;
            flex: 0 1 45%;
  }
}
@media (max-width: 767px) {
  .favorite__content {
    padding-top: 30px;
  }
}
.favorite__title {
  font-size: 44px;
  margin-bottom: 60px;
  max-width: 480px;
}
@media (max-width: 992px) {
  .favorite__title {
    font-size: 36px;
  }
}
@media (max-width: 767px) {
  .favorite__title {
    text-align: center;
  }
}
.favorite__download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}
@media (max-width: 767px) {
  .favorite__download {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.favorite__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 33px;
  padding: 0 59px 0 49px;
  margin-left: 18px;
}
@media (max-width: 992px) {
  .favorite__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 55%;
            flex: 0 1 55%;
  }
}

.download-favorite {
  /* .download-favorite__image */
}
@media (max-width: 992px) {
  .download-favorite__image img {
    max-width: 100%;
  }
}

.image-favorite {
  position: relative;
  /* .image-favorite__picture */
}
.image-favorite::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 66.416%;
  background: #FF6428;
  border-radius: 50%;
  z-index: 1;
  width: 100%;
}
.image-favorite__picture {
  border-radius: 25px;
  position: relative;
  z-index: 5;
}
.image-favorite__picture:first-child {
  -webkit-filter: drop-shadow(0px 4px 80px rgba(0, 0, 0, 0.08));
          filter: drop-shadow(0px 4px 80px rgba(0, 0, 0, 0.08));
}
.image-favorite__picture:last-child {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding-top: 72px;
}
.image-favorite__picture img {
  max-width: 100%;
}

/*========FOOTER=======*/
.page {
  /* .page__footer */
}
.page__footer {
  background-color: #eeeeee;
  padding: 80px 0 43px 0;
}

.footer {
  /* .footer__container */
  /* .footer__columns */
  /* .footer__rights */
}
.footer__columns {
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 40px;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}
@media (max-width: 992px) {
  .footer__columns {
    padding: 0 20px;
  }
}
@media (max-width: 767px) {
  .footer__columns {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    row-gap: 50px;
  }
}
@media (max-width: 520px) {
  .footer__columns {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-column-gap: 65px;
       -moz-column-gap: 65px;
            column-gap: 65px;
    row-gap: 20px;
  }
}
.footer__rights {
  text-align: center;
}

.columns-footer {
  /* .columns-footer__rhythm */
  /* .columns-footer__content */
  /* .columns-footer__follow */
}
@media (max-width: 767px) {
  .columns-footer__rhythm {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }
}
.columns-footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 126px;
}
@media (max-width: 992px) {
  .columns-footer__content {
    gap: 50px;
  }
}
@media (max-width: 520px) {
  .columns-footer__follow {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.rhythm-column {
  /* .rhythm-column__title */
  /* .rhythm-column__body */
  /* .rhythm-column__item */
}
.rhythm-column__title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  margin-bottom: 28px;
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  color: #121212;
}
@media (max-width: 992px) {
  .rhythm-column__title {
    font-size: 30px;
  }
}
.rhythm-column__title::before {
  content: url("../img/footer/Butterfly.svg");
  position: relative;
  top: 5px;
}
@media (max-width: 520px) {
  .rhythm-column__body {
    display: none;
  }
}
.rhythm-column__body li {
  white-space: nowrap;
}
.rhythm-column__body li:not(:last-child) {
  margin-bottom: 20px;
}
.rhythm-column__body li:first-child::before, .rhythm-column__body li:last-child::before {
  position: relative;
  margin-right: 20px;
}
.rhythm-column__body li:first-child::before {
  content: url("../img/footer/mail.svg");
  top: 7.5px;
}
.rhythm-column__body li:last-child::before {
  content: url("../img/footer/location.svg");
  top: 6.5px;
}
.content-column {
  /* .content-column__list */
  /* .content-column__title */
  /* .content-column__body */
}
.content-column__list {
  position: relative;
}
.content-column__title {
  margin-bottom: 20px;
  position: relative;
}
.content-column__arrow {
  position: absolute;
  top: 7px;
  right: -31px;
}
.content-column__arrow.active {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  right: 0;
}
@media (max-width: 767px) {
  .content-column__body {
    display: none;
  }
}
.content-column__body.open {
  display: block;
}
.content-column__body li:not(:last-child) {
  margin-bottom: 16px;
}

.title-footer {
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  text-transform: uppercase;
  color: #121212;
}

.follow-column {
  /* .follow-column__title */
  /* .follow-column__image */
}
.follow-column__title {
  margin-bottom: 12px;
}
.follow-column__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}
@media (max-width: 992px) {
  .follow-column__images {
    gap: 20px;
  }
}
.arrow {
  display: none;
  width: 0;
  height: 0;
  border-top: 10px solid #121212;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}
body.touch .arrow {
  display: block;
}